.page-description {
    .main-container {
        padding: 21px 21px 28px;
        background: #fff;
        color: #525f6a;
        text-align: center;
        box-sizing: border-box;
        width: 100%;

        & h1, h2 {
            font-family: sans-serif;
            font-weight: 600;
            font-size: 20px;
            font-style: normal;
            color: #525f6a;
        }

        & h1 {
            margin-bottom: 18px;
        }

        & h2 {
            margin-top: 30px
        }

        & p {
            font-family: sans-serif;
            font-weight: 400;
        }
    }

    .links-list {
        list-style: none;
        display: flex;
        margin: 14px 0;
        padding-bottom: 24px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-item > a {
        color: var(--resort-link-color);
        font-weight: 400;
    }

    .list-item:not(:last-child)::after {
        content: "|";
        padding: 0 12px;
        font-weight: 400;
    }
}

@media (min-width:  600px) {
    .unordered-list-links {
        .links-list {
            justify-content: flex-start;
        }
    }
}
