.complex-cards {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;

    .cards-grid-section {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 12px;

        .main-resort-card {
            width: 100%;
            height: 100%;
            padding: 0 6px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;

            & img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }
        }

        .resort-card-subsection {
            border: 1px solid #d1d3d6;
            height: 100%;
            background: var(--light-color);
        }

        .resort-details {
            padding: 12px 12px 48px;

            & p {
                font-size: 13px;
                font-weight: 400;
                margin: 0;
                color: #444;
                line-height: 1.4;
            }
        }

        .resort-title {
            font-size: 16px;
            font-family: Franklin, 'Franklin Fallback', sans-serif;
            font-weight: 900;
            font-style: italic;
            color: #3d8ede;
            margin: 0 0 0.1em;
            line-height: 1.5;
        }

        .details-footer {
            display: flex;
            justify-content: space-between;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 24px;
            align-items: start;

            .view-accommodations-button > a {
                background: #388ce1;
                color: #fff;
                padding: 6px 12px;
                margin-right: -14px;
                margin-top: -12px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-family: Franklin, 'Franklin Fallback', sans-serif;
                font-weight: 300;
                font-style: italic;
                font-size: 13px;
            }
        }

        .view-map-button {
            display: flex;
            flex-direction: row-reverse;
            column-gap: 5px;
            font-size: 13px;
            align-items: center;
            margin-top: -12px;
            color: #0f61e6;
            font-weight: 400;
            font-style: normal;
        }

        .map-pin-icon {
            width: 11px !important;
            height: 11px !important;
        }

        .chevron-right {
            width: 6px !important;
            height: 6px !important;
            margin-left: 6px;
        }
    }
}

/* Medium screens (min-width: 600px) */
@media (min-width: 600px) {
    .complex-cards {
        .cards-grid-section {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 12px;
            max-width: 100%;

            .main-resort-card img {
                height: 220px;
                aspect-ratio: auto;
            }
        }
    }
}

/* Large screens (min-width: 900px) */
@media (min-width: 900px) {
    .complex-cards {
        max-width: 1400px;

        .cards-grid-section {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, auto);
            column-gap: 12px;
        }
    }
}
